{{define "admin/add.tpl"}}
<div class="layui-form-item">
    <label class="layui-form-label">添加管理员</label>
    <div class="layui-input-block">
        <form class="layui-form" action="" lay-filter="admin-add" id="admin-add">
            <div class="layui-form-item">
                <label class="layui-form-label">账号</label>
                <div class="layui-input-block">
                    <input type="text" name="username" id="username" lay-verify="required" autocomplete="off"
                           placeholder="Username" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">昵称</label>
                <div class="layui-input-block">
                    <input type="text" name="nickname" id="nickname" lay-verify="required" autocomplete="off"
                           placeholder="Nickname" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-block">
                    <input type="text" name="password" id="password" lay-verify="required" autocomplete="off"
                           placeholder="Password" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">Email</label>
                <div class="layui-input-block">
                    <input type="text" name="email" id="email" lay-verify="required" autocomplete="off"
                           placeholder="Email" class="layui-input">
                </div>
            </div>
            <button type="button" class="layui-btn">提交</button>
        </form>
    </div>
</div>
<script>
    layui.use(['layer','jquery','form'], function () {
        let layer = layui.layer;
        let $ = layui.jquery;
        let form = layui.form;
        $("#admin-add .layui-btn").on("click", function(){
            $.ajax({
                type: 'post',
                url:'/admin/api/add',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(form.val("admin-add")),
                success:function (res) {
                    console.log(res)
                    if(res.code === 0){
                        layer.close(layerIndex);
                    }else{
                        layer.msg(res.msg)
                    }
                }
            })
        });
    });
</script>
{{end}}