{{define "goods_category/add.tpl"}}
{{template "layout/window_header.tpl"}}
<div class="layui-form-item">
    <div class="layui-input-block">
        <form class="layui-form" action="" lay-filter="goods_category-add" id="goods_category-add">
            <div class="layui-form-item">
                <label class="layui-form-label">上级:</label>
                <div class="layui-input-block">
                    <select name="pid" lay-verify="required" id="pid" lay-filter="pid"  class="layui-select">
                        <option value="0" selected>无上级</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">分类名:</label>
                <div class="layui-input-block">
                    <input type="text" name="cate_name" id="cate_name" lay-verify="required" autocomplete="off"
                           placeholder="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">图片:</label>
                <div class="layui-input-block">
                    <input type="hidden" name="pic" id="pic" lay-verify="required" autocomplete="off"
                           placeholder="" class="layui-input">
                    <a href="javascript:;" class="layui-btn" id="upload-pic">
                        <i class="layui-icon layui-icon-upload"></i>上传
                    </a>
                </div>
                <div class="layui-input-block">
                    <div class="layui-col-lg2 layui-col-md2">
                        <img id="s-pic" src="">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">排序:</label>
                <div class="layui-input-block">
                    <input type="number" name="sort" id="sort" lay-verify="required" autocomplete="off"
                           placeholder="" class="layui-input" value="0">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">是否推荐:</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="is_show" lay-skin="switch" lay-text="ON|OFF" checked>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" id="sub">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
{{template "layout/window_footer.tpl"}}
<script>
    layui.use(['layer','jquery','form','table','upload'], function () {
        let layer = layui.layer;
        let $ = layui.jquery;
        let form = layui.form;
        gg_add_form('goods_category')
        gg_upload_pic('#upload-pic',false,function (res) {
            $('#s-pic').attr("src", res.data)
            $('#pic').val(res.data)
        })
        $(function(){
            //初始化pid参数
            gg_request('get', '/goods_category/api/all', {}, function (res) {
                if(res.code === 0){
                    $.each(res.data,function (i) {
                        $('#pid').append('<option value="' + res.data[i].id + '">' + res.data[i].cate_name + '</option>')
                    });
                    // form.render('select', 'pid');
                    form.render();
                }else{
                    layer.msg(res.msg)
                }
            });
        });
    });
</script>
{{end}}