{{define "ws_table/add.tpl"}}
<div class="layui-form-item">
    <label class="layui-form-label">添加table</label>
    <div class="layui-input-block">
        <form class="layui-form" action="" lay-filter="ws_table-add" id="ws_table-add">
            <div class="layui-form-item">
                <label class="layui-form-label">名称</label>
                <div class="layui-input-block">
                    <input type="text" name="title" id="title" lay-verify="required" autocomplete="off"
                           placeholder="Title" class="layui-input">
                </div>
            </div>
            <button type="button" class="layui-btn">提交</button>
        </form>
    </div>
</div>
<script>
    layui.use(['layer','jquery','form','table'], function () {
        let layer = layui.layer;
        let table = layui.table;
        let $ = layui.jquery;
        let form = layui.form;
        gg_add_form('ws_table')
    });
</script>
{{end}}