{{define "ws_table/add.tpl"}}
    {{template "layout/window_header.tpl"}}
    <div class="layui-form-item">
        <div class="layui-input-block">
            <form class="layui-form" action="" lay-filter="ws_table-add" id="ws_table-add">
                <div class="layui-form-item">
                    <label class="layui-form-label">名称:</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" id="title" lay-verify="required" autocomplete="off"
                               placeholder="Title" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" id="sub" class="layui-btn">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {{template "layout/window_footer.tpl"}}
<script>
    layui.use(['layer','jquery','form','table'], function () {
        let layer = layui.layer;
        let table = layui.table;
        let $ = layui.jquery;
        let form = layui.form;
        gg_add_form('ws_table')
    });
</script>
{{end}}