{{define "goods/show_main_image.tpl"}}
    <div class="layui-form-item">
        <label class="layui-form-label">主图</label>
        <div class="layui-input-block">
            <form class="layui-form" action="" lay-filter="goods-add" id="goods-add">
                <div class="layui-form-item">
                    {{/*                    <label class="layui-form-label"></label>*/}}
                    <div class="layui-input-block">
                        <div class="layui-col-lg2 layui-col-md2">
                            <img id="s-pic" src="" class="full-pic">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <input type="hidden" name="id" id="id" lay-verify="required" autocomplete="off"
                           placeholder="" class="layui-input" value="{{.ID}}">
                    <input type="hidden" name="pic" id="pic" lay-verify="required" autocomplete="off"
                           placeholder="" class="layui-input">
                    <a href="javascript:;" class="layui-btn" id="upload-pic">
                        <i class="layui-icon layui-icon-upload"></i>上传
                    </a>
                </div>
                <button type="button" class="layui-btn">提交</button>
            </form>
        </div>
    </div>
    <script>
        layui.use(['layer','jquery','form','table','upload'], function () {
            let layer = layui.layer;
            let table = layui.table;
            let $ = layui.jquery;
            let form = layui.form;
            let upload = layui.upload;
            $("#goods-add >button.layui-btn").on("click", function(){
                form.render();
                let data = form.val("goods-add");
                gg_request('put', '/goods/api/update_for_field',
                    JSON.stringify({
                        id : parseInt(data.id),
                        field : "main_image",
                        data : $("#pic").val(),
                    }),
                    function (res) {
                        console.log(res)
                        if(res.code === 0){
                            table.reload("goods-table", {
                                url : '/goods/api/list'
                            })
                            layer.close(layerIndex);
                        }else{
                            layer.msg(res.msg)
                        }
                    });
            });

            //执行实例
            upload.render({
                elem: '#upload-pic', //绑定元素
                url: '/upload/api/pic', //上传接口
                accept: 'images',
                field: 'pic_file',
                size: 10240,
                done: function(res){
                    if(res.code === 0){
                        $('#pic').val(res.data)
                        $("#s-pic").attr("src", res.data);
                    }else{
                        layer.msg(res.msg)
                    }
                },
                error: function(){
                    layer.msg("上传失败")
                }
            });

            $(function(){
                //初始化pid参数
                gg_request('get', '/goods/api/get/{{.ID}}', {}, function (res) {
                    console.log(res.data)
                    if(res.code === 0){
                        console.log(res.data.pic)
                        $("#s-pic").attr("src", res.data.pic);
                    }else{
                        layer.msg(res.msg)
                    }
                });
            });
        });
    </script>
{{end}}